<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qVixkQ96uQ7eQ2WpRYzGeaV4LfOqByaw"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
   <!-- <script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>-->
    <title>单击获取点击的经纬度</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.centerAndZoom("重庆",12);
    //单击获取点击的经纬度
    map.addEventListener("click",function(e){

        //将这两点发送到后台
        alert(e.point.lng + "," + e.point.lat);

        var longg = e.point.lng;
        var latii = e.point.lat;

        $.ajax({
            url:'http://localhost:8080/point/addPoint',
            type:'POST',
            data:{'lng': e.point.lng, 'lat': e.point.lat},
            //data:JSON.stringify({ longitude: e.point.lng, latitude: e.point.lat }),
            dataType: 'json',
            //contentType: 'application/x-www-form-urlencoded',
            success:function (data) {
            //console.log(data);
                alert(data);
        }
            // error:function () {
            //     alert("error");
            // }
        });
    });
</script>